body {
  font-family: Arial, sans-serif;
}
h1 {
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
}
.grid-item {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}
.grid-item:hover {
  background-color: #ddd;
}
.grid-item a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
.back_button {
  text-align: center;
}
