<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>店舗一覧</title>
    <link rel="stylesheet" type="text/css" href="/css/store_info.css" />
    <script type="text/javascript" src="/js/store_info.js"></script>
  </head>
  <body>
    <div class="header-container">
      <h2>店舗一覧</h2>
    </div>
    <div class="store-container" id="store-container">
      <!-- JavaScriptで動的に店舗情報を挿入 -->
    </div>
    <div class="back_button">
      <a href="/home">戻る</a>
    </div>
  </body>
</html>
